@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@utility font-display{
    font-family: 'Lora', sans-serif, system-ui, -apple-system;
}

@utility font-body{
    font-family: 'Inter', sans-serif, system-ui, -apple-system;
}

@layer base {
    html {
        @apply scroll-smooth;
    }
    body {
        @apply font-body dark:text-gray-300 text-gray-800 scroll-smooth
        bg-cover bg-center bg-fixed;

        background-image: url('/BGs/bg-light.png');
    }

    .dark body{
        background-image: url('/BGs/bg-dark.png');
    }
}

@layer components{
    .nav-link{
        @apply dark:text-gray-400 text-gray-700 px-4 py-2 transition-all duration-300 dark:hover:text-white hover:text-black
                relative z-10 dark:focus:text-white focus:text-black;
    }

    .section-title{
        @apply font-display font-bold md:text-4xl text-3xl mb-12;
    }

    .socials{
        @apply flex md:w-9 md:h-9 w-7 h-7 items-center justify-center rounded-lg bg-gray-300 ring-gray-500 transition-all hover:ring-1 dark:bg-gray-800 dark:ring-gray-600
    }

    .socials-svg{
        @apply flex md:w-7 md:h-7 w-5 h-5 items-center justify-center
    }

    .socials-footer{
        @apply w-5 h-5 transition-transform duration-300 hover:-translate-y-2;
    }

    .xp-card{
        @apply bg-white dark:bg-blue-950/30 text-black dark:text-white rounded-xl hover:-translate-y-2 hover:shadow-xl shadow-black/30 dark:shadow-gray-700 transition-all duration-300 max-w-sm;
    }

    .timeline-title{
        @apply font-semibold md:text-2xl text-lg;
    }

    .timeline-date{
        @apply md:text-lg text-sm text-gray-600 dark:text-gray-400;
    }

    .timeline-dot{
        @apply absolute w-4 h-4 bg-gray-300 rounded-full mt-2 -start-2 border border-black dark:border-white dark:bg-gray-700;
    }

    .technologies{
        @apply flex flex-col justify-center items-center w-24 h-24 rounded-xl bg-gray-200 px-4 py-2 hover:scale-110 transition-all duration-200;
    }

    .technologies-svg{
        @apply flex justify-center items-center w-18 h-18;
    }
}