---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout>
	<div class="min-h-[40rem] mt-32 max-w-6xl mx-auto px-4 py-6">

		<div class="main-content">
			<Card />
			

	   	</div>

	</div>
</Layout>