---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Academics from '../components/Academics.astro';
import Technologies from '../components/Technologies.astro';
---

<Layout>
	<div class="mt-32 max-w-7xl mx-auto px-4 py-6">
		<Card />

		<div id="experience" class="mt-24">
			<h2 class="section-title">Experience</h2>
			<Experience />
		</div>

		<div id="projects" class="mt-24">
			<h2 class="section-title">Projects</h2>
			<Projects />
		</div>

		<div id="studies" class="mt-24">
			<h2 class="section-title">Academic Formation</h2>
			<Academics />
		</div>

		<div id="technologies" class="mt-24 mb-18">
    		<h2 class="section-title">Technologies</h2>	
			<Technologies />
		</div>
	</div>
</Layout>