---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout>
	<div class="min-h-[40rem] mt-32 max-w-6xl mx-auto px-4 py-6">
		<div class="main-content">
			<Card />
			<div class="h-screen w-full">
				<h2>Projects</h2>
			</div>
			<div class="opacity-0 h-screen w-full bg-white"
			data-animate="fade-in-up"
			data-animate-duration="800ms"
			data-animate-threshold="0.5"
			>
		 	<h2>About</h2>
		 	</div>
	   	</div>


		</div>
	</div>
</Layout>