
<ol class="relative border-s border-gray-700 dark:border-gray-200 md:max-w-3xl max-w-md mx-auto">
	<li class="mb-10 ms-8">
		<div class="timeline-dot"></div>
		<div class="flex md:flex-row flex-col md:justify-between mb-6">
			<h3 class="timeline-title">
				Politécnica de Madrid - UPM, Madrid 
			</h3>
			<p class="timeline-date">2024 - Present</p>
		</div>
		<p class="md:text-base text-sm">
			I am currently pursuing a double degree in Computer Engineering and Business Administration at Universidad Politécnica de Madrid. 
			This program allows me to develop strong technical problem-solving skills while also gaining a strategic perspective in management
			and economics, preparing me to bridge the gap between technology and business.
		</p>
	</li>
	
	<li class="mb-10 ms-8">
		<div class="timeline-dot"></div>
		<div class="flex md:flex-row flex-col md:justify-between mb-6">
			<h3 class="timeline-title">
				Prospect Mountain High school, USA 
			</h3>
			<p class="timeline-date">2022-2023</p>
		</div>
		<p class="md:text-base text-sm">
			I completed my high school studies in New Hampshire, USA, 
			an experience that significantly strengthened my English proficiency and cultural adaptability. 
			Living abroad taught me to be independent, responsible, and self-sufficient, 
			while also broadening my global outlook and ability to connect with people from diverse backgrounds.
		</p>
	</li>
	
	<li class="mb-10 ms-8">
		<div class="timeline-dot"></div>
		<div class="flex md:flex-row flex-col md:justify-between mb-6">
			<h3 class="timeline-title">
				IES Guadalpín, Marbella
			</h3>
			<p class="timeline-date">2021-2022</p>
		</div>
		<p class="md:text-base text-sm">
			During my time at IES Guadalpín in Marbella, I focused on mathematics and technology, 
			building a solid academic foundation for my future double degree. 
			This period was also an important personal experience, as it gave me the opportunity to live in a new city 
			and adapt to a different environment, further developing my resilience and adaptability.
		</p>
	</li>
</ol>