

<div class="main-card rounded px-4 py-4 animate-slide-in-left transition-all duration-200 max-w-4xl mx-auto">

    <div class="flex flex-col gap-6">
        <div class="flex justify-between items-center text-2xl font-bold dark:bg-black bg-white">
            <h2>Diego De Salas</h2>
            <img src="../src/assets/astro.svg" alt="Person">
        </div>
        <p class="text-justify">
            Hi! I'm a college student working on a double degree in Computer Science and Business Administration. 
            I enjoy coding in Java (especially OOP) and recently got into frontend development—actually built a website for a restaurant with Astro! 
            I'm curious and always looking to learn new tools and frameworks. People would describe me as responsible, polite, and open-minded. 
            Also, I'm bilingual in Spanish and English, which helps me connect with more people and projects.
        </p>
    </div>
</div>