

<div class="rounded-lg px-4 py-4 transition-all duration-200 max-w-4xl mx-auto borderrounded-xl border border-gray-300/60 dark:border-gray-600/40 shadow-lg dark:shadow-white/15">

    <div class="flex flex-col gap-2">
        <div class="flex justify-between items-center">
            <h2 class="font-display md:text-3xl text-2xl dark:text-white text-black font-bold">Diego De Salas</h2>
            <ul class="flex flex-row items-center justify-center space-x-2 px-4 py-2">

                <a href=""><li class="socials"><img src="../src/assets/X.svg" alt="Twitter" class="socials-svg"></li></a>

                <a href=""><li class="socials"><img src="../src/assets/Linkedin.svg" alt="LinkedIn" class="socials-svg"></li></a>

                <a href=""><li class="socials"><img src="../src/assets/GitHub.svg" alt="Github" class="socials-svg"></li></a>
                
            </ul>
        </div>
        <p class="text-justify md:text-base text-sm">
            Hi! I'm a college student working on a double degree in Computer Engineering and Business Administration. 
            I have experience coding in Java (especially OOP) and recently got into frontend development.
            Through my Business Administration studies, I've developed a solid foundation in management, economics, and organizational strategy.
            People would describe me as responsible, polite, and open-minded. 
            Also, I'm bilingual in Spanish and English, which helps me connect with more people and projects.
        </p>
    </div>
</div>