

<div class="main-card rounded animate-fade-in-up px-4 py-4">

    <div class="flex flex-col gap-6">
        <div>
            <h2 class="text-2xl font-bold">Diego De Salas</h2>

        </div>
        <p>
            Hi! I'm a college student working on a double degree in Computer Science and Business Administration. 
            I enjoy coding in Java (especially OOP) and recently got into frontend development—actually built a website for a restaurant with Astro! 
            I'm curious and always looking to learn new tools and frameworks. People would describe me as responsible, polite, and open-minded. 
            Also, I'm bilingual in Spanish and English, which helps me connect with more people and projects.
        </p>
    </div>
</div>