<div class="mx-auto md:max-w-6xl max-w-2xl px-4 flex flex-col gap-8">
	<div>
		<div class="flex items-start justify-between gap-4">
			<h3 class="text-lg md:text-xl font-semibold">Asegramar — Administrator</h3>
			<span class="text-xs md:text-sm text-gray-600 dark:text-gray-300">July 2024 - January 2025</span>
		</div>
		<p class="mt-3 text-sm md:text-base text-justify">
			Worked as an administrator, collaborating with a multidisciplinary team and developing strong organizational and communication skills. Gained hands-on experience in administrative procedures and property management, which significantly contributed to my professional growth. This role provided me with valuable insight into office management and enhanced my professional development.
		</p>
	</div>
	<div>
		<div class="flex items-start justify-between gap-4">
			<h3 class="text-lg md:text-xl font-semibold">Personal tutor</h3>
			<span class="text-xs md:text-sm text-gray-600 dark:text-gray-300">September 2023 - May 2024</span>
		</div>
		<p class="mt-3 text-sm md:text-base text-justify">
			Provided individualized tutoring in Mathematics and Spanish to foreign students in Spain aged 10 to 13. Focused on fostering language proficiency and academic confidence through tailored learning strategies.
		</p>
	</div>
</div>