


<footer class="min-h-16">
    <div class="main-card px-4 py-4 transition-all duration-200 max-w-2xl mx-auto">

        <div class="flex flex-col gap-6">
            <div class="flex justify-between items-center">
                <div>
                    <h2 class="dark:text-white text-black font-bold">Diego De Salas</h2>
                    <p>© 2025 All rights reserved.</p>
                </div>
                <ul class="flex flex-row items-center justify-center space-x-2 px-4 py-2">

                    <li class="socials-footer"><a href=""><img src="../src/assets/X.svg" alt="Twitter" class="socials-svg"></a></li>
    
                    <li class="socials-footer"><a href=""><img src="../src/assets/Linkedin.svg" alt="LinkedIn" class="socials-svg"></a></li>
    
                    <li class="socials-footer"><a href=""><img src="../src/assets/GitHub.svg" alt="Github" class="socials-svg"></a></li>
                    
                </ul>
            </div>
        </div>
    </div>
</footer>