---
import XPcard from "./XPcard.astro"
---

<div class="flex flex-wrap justify-center items-center gap-8">
	<XPcard 
	imgsrc="/media/asegramar.png" 
	imgalt="Finsaver app" 
	cardtitle="Finsaver - Finance" 
	cardtext="Finsaver was born from the idea of learning and practicing new skills. It's an app created for the facilitation of spend acknowledge and saving money. It's developed in Java (OOP) and it uses JavaFX for the UX/UI. This work has definetly helped me proof my skills and confront a real project."
	labels = {[
		"Java",
		"JavaFX",
		"OOP",
		"UI/UX",
		"Problem-Solving"
	]}
	/>
	<XPcard 
	imgsrc="/media/smithers.png" 
	imgalt="Smithers" 
	cardtitle="Smithers - Web Development" 
	cardtext="Developed a responsive website for a restaurant using Astro and Tailwind CSS. This project allowed me to strengthen my skills in UI design, optimization, responsive development, and also applying SEO practices. Completing it gave me valuable hands-on experience and deepened my interest in frontend development."
	labels = {[
		"Astro",
		"Tailwind CSS",
		"Self-Learning",
		"SEO",
		"Resposive-Design",
		"Optimization",
		"UI Designing"
	]}
	/>
	<XPcard 
	imgsrc="/media/asegramar.png" 
	imgalt="Asegramar" 
	cardtitle="Asegramar - Administrator" 
	cardtext="Worked as an internship which helped me develop my skills in a teamwork enviroment, and learn administration procedures that have made me enrich myself as a worker."
	labels = {[
		"Administration",
		"File Management",
		"Teamwork",
		"Comunication",
		"Problem-Solving"
	]}
	/>
</div>