---
import XPcard from "./XPcard.astro"
---

<div class="flex flex-wrap justify-center items-center gap-8">
	<XPcard 
	imgsrc="/media/finsaver.png" 
	imgalt="Finsaver" 
	cardtitle="Finsaver - Finance" 
	cardtext="Finsaver was born from the idea of learning new skills and put my knowledge to test. Finsaver is an app created for the facilitation of spend acknowledge and saving money, specially for those who haven't got a much developed economy acknowledge. It's developed in Java (OOP) and JavaFX for the UX/UI. This work has definetly helped me proof my skills and confront real problems that appear in the development of a project."
	labels = {[
		"Java",
		"JavaFX",
		"OOP",
		"UI/UX",
		"Problem-Solving"
	]}
	/>
	<XPcard 
	imgsrc="/media/finsaverDB.png" 
	imgalt="Finsaver DB" 
	cardtitle="Finsaver - Database" 
	cardtext="After developing Finsaver, I realised that I had to manage saving the transactions, clients, expenses, etc, that's why I decided to learn SQL. This database is developed in MySQL, which is a nice working enviroment for such a small project. Because of this, my database skills have progressed considerably, althougth there's still a lot to learn."
	labels = {[
		"MySQL",
		"Data Management",
		"Learning Agility",
		"Backend Development",
		"Analytical Thinking"
	]}
	/>
	<XPcard 
	imgsrc="/media/smithers.png" 
	imgalt="Smithers" 
	cardtitle="Smithers - Web Development" 
	cardtext="Developed a responsive website for a restaurant using Astro and Tailwind CSS. This project allowed me to strengthen my skills in UI design, optimization, responsive development, and also applying SEO practices. Completing it gave me valuable hands-on experience and deepened my interest in frontend development."
	labels = {[
		"Astro",
		"Tailwind CSS",
		"Self-Learning",
		"SEO",
		"Resposive-Design",
		"Optimization",
		"UI Designing"
	]}
	/>
</div>