---
import App from "./app.astro"
---


<div class="grid grid-cols-3 lg:md:grid-cols-4 place-items-center sm:justify-between justify-center items-center max-w-2xl sm:gap-y-10 sm:gap-x-9 gap-y-4 mx-auto sm:px-6 sm:py-8 px-2 py-6">
    <App 
    route="/src/assets/appicons/word.svg"
    appname="Word"
    appclass="technologies"
    />
    <App 
    route="/src/assets/appicons/excel.svg"
    appname="Excel"
    appclass="technologies"
    />
    <App 
    route="/src/assets/appicons/powerpoint.svg"
    appname="Powerpoint"
    appclass="technologies"
    />
    <App 
    route="/src/assets/appicons/access.svg"
    appname="Access"
    appclass="technologies"
    />
    <App 
    route="/src/assets/appicons/html5.svg"
    appname="HTML5"
    appclass="technologies"
    />
    <App 
    route="/src/assets/appicons/tailwindcss.svg"
    appname="Tailwind CSS"
    appclass="technologies"
    />
    <App 
    route="/src/assets/appicons/java.svg"
    appname="Java"
    appclass="technologies"
    />
    <App 
    route="/src/assets/appicons/mysql.svg"
    appname="MySQL"
    appclass="technologies"
    />
    <App 
    route="/src/assets/appicons/figma.svg"
    appname="Figma"
    appclass="technologies"
    />
    <App 
    route="/src/assets/appicons/figma.svg"
    appname="Figma"
    appclass="technologies"
    />
    <App 
    route="/src/assets/appicons/figma.svg"
    appname="Figma"
    appclass="technologies"
    />
    <App 
    route="/src/assets/appicons/git.svg"
    appname="Git"
    appclass="technologies"
    />
    </div>
</div>